.hero {
    background: #F4F4F4;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-container .header {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-bottom: 2%;
    margin-right: 11%;
}

.entrance-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.entrance {
    width: 77%;
    margin-left: 11.5%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.entrance h2 {
    width: 59%;
    margin-right: 12%;
    font-size: 2 rem;
}

.entrance img {
    width: 29%;
    box-shadow: -1.3em -1.3em #E92577;
    border-radius: 7%;
}

.entrance p {
    width: 55%;
    margin-right: 18%;
    font-size: medium;
    position: relative;
}

.pink-object {
    background: #EA2678;
    width: 7%;
    height: 3vw;
    margin-top: 28%;
    margin-left: 2.5%;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-img {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

#contact {
    width: 5%;
    height: 3.3vw;
    box-shadow: none;
    margin-right: 2%;
}

.pink-object1 {

    background: #EA2678;
    width: 15%;
    height: 1vw;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 13%;
    left: 6.8%;
    opacity: 90%;
    overflow: hidden;
}

.half-circle {
    width: 6rem;
    height: 3rem;
    background-color: #D9D9D9;
    border-radius: 0 0 50px 50px;
    position: relative;
    overflow: hidden;
    margin-left: 28%;
}

.outer-circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    margin-left: 74%;
    margin-top: -4%;
}

.inner-circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 18px solid #D9D9D9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:900px) {

    .header-container .header {
        width: 40%;
        margin-right: 5%;
    }

    .entrance h2 {
        width: 50%;
        margin-right: 12%;
        font-size: 2.3rem;
    }
    
    .entrance img {
        width: 38%;
    }

    #contact {
        width: 5%;
        height: 3.3vw;
        margin-top: 5%;
    }
    
    .pink-object1 {
        top: 15%;
    }
   
}

@media(max-width:500px) {

    .header-container {
        align-items: center;
        margin-left: 5%;
    }

    .header-container .header {
        width: 90%;
        margin: auto;
    }
    .entrance {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .entrance h2 {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 10%;
    }
    .entrance img {
        width: 70%;
        margin-left: 8%;
    }

    #contact {
        width: 9%;
        height: 6vw;
        margin-top: 8%;
    }
    .contact p{
        width: 100%;
    }

    .pink-object1 {
        width: 20%;
        top: 11%;
    }

    .half-circle {
        width: 5rem;
        height: 2.5rem;
        margin-left: 35%;
    }
}